<%# <form action="/users" method="post" accept-charset="UTF-8">
  <label for="name">Name:</label>
  <input type="text" name="user[name]" id="name">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <label for="email">Email</label>
  <input type="email" name="user[email]" id="email">
  <input type="submit" value="Submit">
</form> %>

<%= form_with model: @user do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name, placeholder: "Your name goes here" %>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password, placeholder: "Password here" %>
  <%= form.submit "Submit" %>
<% end %>